[Unit]
Description=Wordchain web service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/wordbot-discord
ExecStart=/home/ubuntu/wordbot-discord/venv/bin/uvicorn web:app --host 127.0.0.1 --port 5000
Restart=always
Environment="BOT_TOKEN=MTIyNTQ5MDc1OTQzMjc5ODMyMA.GBK0hM.7cIV6gluTopYAOsmtbYD0hkvmgChVAeYTWJDdg"
Environment="SLAV_USER_ID=462682564281499659"
Environment="SUPPORT_SERVER_ID=1234116258186657872"
Environment="SUPPORT_SERVER_LOG_CHANNEL_ID=1236196728613371966"
Environment="BOT_ID=1225490759432798320"

[Install]
WantedBy=multi-user.target
